@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Imperial+Script&family=Luxurious+Roman&family=Norican&family=Oswald&family=Prosto+One&family=Saira+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Imperial+Script&family=Luxurious+Roman&family=Norican&family=Oswald&family=Prosto+One&family=Saira+Condensed:wght@300;400&display=swap');
* {
    /* background-color: rgb(22, 22, 22); */
    background-color: #161718;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* 24252A */
}

.container {
    align-items: center;
    padding: 30px 30px;
}

 section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
    padding-bottom: 30px;
}

h1 {
    padding: 0 0.5em;
    color: white;
    font-size: 200%;
    font-family: 'Prosto One', cursive;
    font-weight: 600;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
ul a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}

nav a:hover,
nav a:focus {
    color: magenta;
    font-size: 18px;
}

nav li {
    text-align: center;
    margin: 1.5em 1.5em;
}

ul button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 9px 15px;
    margin: -10px 40px 0;
    box-shadow: 5px 5px 12px #FFFAFA,
                5px 5px 12px rgb(0,0,0,.1.6);
    border: none;
    border: 2px solid magenta;
    border-radius: 3em;
}

.active:hover {
    border-bottom: 4px solid #952295;
}

ul button:hover {
    background-color: magenta;
    font-size: 18px;
}


@media (min-width:1200px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
}


/* start home context */
.context {
    color: white;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 235px;
}

.column {
    margin: 0 5em;
    text-align: center;
}

@media (max-width:675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.9em;
    }
    .column {
        margin: 2em;
    }
    .context {
        padding-top: 85px;
    }

}

.column button {
    padding: 20px 25px;
    border-radius: 3em;
}

.column h3 {
    padding-top: 15px;
}

.column button:hover {
    border: 2px solid magenta;
}

/* end context */